@media (min-width:1024px){
    
}
@media(min-width:740px) and (max-width:1023px){
    .right-header .sign{
        display: none;
    }
    .swiper{
        width: 95%;
    }
    .container-item .menu-btn{
        display: block;
    }
    #header .menu ul{
        display: none;
    }
    .title p{
        display: block;
    }
}
@media(max-width:740px){
    .right-header .sign{
        display: none;
    }
    .swiper{
        width: 95%;
    }
    .container-item .menu-btn{
        display: block;
    }
    #header .menu ul{
        display: none;
    }
    .title p{
        display: block;
    }
}